.sidenav {
  height: 100%;
  width: 252px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e6e6e6;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 40rem;
  padding: 1rem;
  border-right: 1px solid black;
}


.sidenav-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidenav-account {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sidenav-dropdown  {
  padding: 8px 0;
  text-decoration: none;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown-users li {
  color: #496D53;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
}

.sidenav ul li {
  margin-bottom: 5px;
}

.sidenav ul .dropdown li {
  margin: 5px 0;
}

.modal-content h2 {
  color: #496D53;
}

.user-list {
  color: black;
  overflow: auto;
  height: 10rem;
  border: 1px solid #496D53;
  border-radius: 10px;
  padding: 1rem;
}

@media (max-width: 768px) {
  /* Your styles go here */
  .sidenav, .sidenav-container {
    display: none;
  }

  .transaction-page-content {
    width: 100% !important;
  }
}

.main-content {
  width: calc(100% - 284px);
}

.home-container {
  display: flex;
  height: 100vh;
} 

.sidenav-container {
  width: 284px;
}

.logout-button {
  position: absolute;
  bottom: 50px; /* Adjust this value as needed */
  width: 89%;
  text-align: center; /* Center the button horizontally */
}

.primary-btn.logout {
  width: 100%;
}

.dropdown-users {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 30rem;
  border: 1px solid  #496D53; 
  padding: 1rem !important;
  border-radius: 10px;
}

.dropdown-channels {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 15rem;
  border: 1px solid  #496D53; 
  padding: 1rem !important;
  border-radius: 10px;
  color: #496D53;
}



.dropdown-users-results {
  cursor: pointer;
  font-size: 14px;
}

.dropdown-users-results.selected {
  background-color: #496D53; /* Change this to whatever color you want */
  color: white; /* Optional: change text color for contrast */
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 700;
  width: fit-content;
}
/*********************************** CODE ONLY BELOW THIS PART *******************************************/


.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.messages-section {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
}

.messages-list {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  box-shadow: inset 0px 2px 8px rgba(0, 0, 0, .1); /* Inner shadow */
  background-color: white;
}

.message-item {
  margin-bottom: 10px;
}

.message-input {
  display: flex;
  padding: 10px;
  background-color:  #e6e6e6;
  height: 110px;
}

.message-input input::placeholder {
  color: #232323;; /* Placeholder color if you want it to be different */
}

.message-input input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #496D53;
  border-radius: 4px;
  background-color:  #e6e6e6;
  color: #232323 !important;
}

.message-input button {
  padding: 10px 100px;
  border: none;
  background-color: #496D53;
  color: fff;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
}

.messages-header {
  background-color: #e6e6e6;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  border: 1px solid #e6e6e6;
  border-left: unset;
  color:#496D53;
}

.messages-header-channel {
  background-color: #e6e6e6;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  border: 1px solid #e6e6e6;
  border-left: unset;
  color:#496D53;
  align-items: center;
}

.message-item {
  margin-bottom: 15px;
}

.message-sender {
  font-weight: light;
  margin-bottom: 5px;
  color:#232323;
}

.message-body {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  color: #333;
  width: fit-content;
}

.my-message .message-sender {
  color:#496D53;
}

.my-message .message-body {
  background-color: #496D53;
  color: #fff; /* Optional: Ensure text is readable on a red background */
}

.message-item {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content .user-list {
}

.modal-content button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #496D53;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button[type="button"] {
  background-color: #dc3545; /* Red for Cancel */
}

.modal-content button:hover {
  opacity: 0.9;
}

.add-users-form {
  gap: 1rem;
}

.buttons-modal {
  display: flex;
  flex-direction: column;
}

.create-channel-button {
  width: 100%;
  margin-bottom: 1rem;
}

.channel-button {
  width: 100%;
}

.primary-button-red {
  background-color: #dc3545;
}

.welcome-message {
  background-color: #E6E6E6;
  color: #496D53;
  height: 100%;
  text-align: center;
  padding-top: 10px;
}

.welcome-subtitle {
  font-size: 30px;
}

.member-list {
  color: #496D53;
  overflow-y: auto;
  height: 10rem;
  border: 1px solid #496D53;
  border-radius: 10px;
  padding: 1rem;
}

.header-buttons {
  display: flex;
  gap: 1rem;
}
.welcome-message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.welcome-image {
  width: 30rem;
}