.sidenav {
  height: 100%;
  width: 252px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #232323;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;
}


.sidenav-logo {
  width: 100%;
}

.sidenav-account {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sidenav-dropdown  {
  padding: 8px 0;
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
}

.sidenav ul li {
  margin: 10px 0;
}

.sidenav ul .dropdown li {
  margin: 5px 0;
}

@media (max-width: 768px) {
  /* Your styles go here */
  .sidenav, .sidenav-container {
    display: none;
  }

  .transaction-page-content {
    width: 100% !important;
  }
}

.main-content {
  width: calc(100% - 284px);
  padding: 32px;
}

.home-container {
  display: flex;
  height: 100vh;
} 

.sidenav-container {
  width: 284px;
}

.logout-button {
  position: absolute;
  bottom: 20px; /* Adjust this value as needed */
  width: 89%;
  text-align: center; /* Center the button horizontally */
}

.primary-btn.logout {
  width: 100%;
}

.dropdown-users {
  display: flex;
  flex-direction: column;
}


.dropdown-users-results {
  cursor: pointer;
}

.dropdown-users-results.selected {
  background-color: red; /* Change this to whatever color you want */
  color: white; /* Optional: change text color for contrast */
}
/*********************************** CODE ONLY BELOW THIS PART *******************************************/


